<div [@routerTransition]>
    <app-page-header [heading]="'User Groups'" [icon]="'fa-users'">
    </app-page-header>
    <div *ngIf="isCreate" style="margin-left: 5%" class="row">
        <div class="col col-lg-6">
            <form>
                <div *ngIf="courses" class="form-group">
                    <label> Select Course </label>
                    <select class="form-control" #t (change)="set_course_code(t.value)">
                        <option *ngFor="let each of courses" [value]="each.code"> {{each.name}} </option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label> Group of the note </label>
                    <input type="text" class="form-control input-underline input-lg" [value] = "group_name"
                           placeholder="Enter Group Name" (input)="updateGroupName($event.target.value)"
                           id="groupName"
                    >
                </fieldset>
            </form>
        </div>
    </div>
    <div *ngIf="isCreate" style="margin-left: 40%" class="row">
        <button class="btn btn-danger" (click)="toggle()">Cancel</button>
        <button class="btn btn-primary" (click)="createGroup()">Create</button>
    </div>
    <button *ngIf="isCreate == false" class="btn btn-primary pull-right" (click)="toggle()"> Create Group</button>
    <div *ngIf="isCreate == false" class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Groups you are a member!
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Course </th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let each of userGroups">
                            <td>{{each.title}}</td>
                            <td>{{each.course.name}}</td>
                            <td>True</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-12">
            <div class="row">
                <div class="col col-xl-10">
                    <input type="text" class="form-control input-underline input-lg" [value] = "search"
                           placeholder="Search by group name" (input)="updateGroupName($event.target.value)"
                           id="search"
                    >
                </div>
                <div class="col col-xl-2">
                    <button (click)="searchGroup()" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Recommended groups</div>
                <div class="card-body table-responsive">
                    <table *ngIf="searchedGroups" class="table table-inverse">
                        <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Course </th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let each of searchedGroups">
                            <td>{{each.title}}</td>
                            <td>{{each.course.name}}</td>
                            <td>True</td>
                            <td><button class="btn btn-success">Join</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <span *ngIf="!searchedGroups"> Search for a group name above</span>
                </div>
            </div>
        </div>
    </div>
</div>
