<div class="row">
    <div class="col-lg-6">
        <div class="card-body">
            <ul class="timeline">
                <li *ngFor="let post of allLeftPost">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> {{ post.title }}
                            </h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ post.created_time | date }}</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            {{ post.content }}
                        </div>
                        <div class="timeline-sidebar">
                            <h4 (click)="clickUpVote(post)"  [className]=" post.isUpVoted ? 'text-primary fa fa-thumbs-up' : 'fa fa-thumbs-o-up' "></h4> {{post.upvotes}}
                            <h4 (click)="clickDownVote(post)" [className]=" post.isDownVoted ? 'text-primary fa fa-thumbs-down' : 'fa fa-thumbs-o-down'"></h4> {{post.downvotes}}
                            <i class="text-primary"> created by {{post.created_user}} </i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card-body">
            <ul class="timeline">
                <li class="timeline-inverted" *ngFor="let post of allRightPost">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> {{ post.title }}
                            </h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ post.created_time | date }}</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            {{ post.content }}
                        </div>
                        <div class="timeline-sidebar">
                            <h4 (click)="clickUpVote(post)" [className]=" post.isUpVoted ? 'text-primary fa fa-thumbs-up' : 'fa fa-thumbs-o-up' "></h4> {{post.upvotes}}
                            <h4 (click)="clickDownVote(post)" [className]=" post.isDownVoted ? 'text-primary fa fa-thumbs-down' : 'fa fa-thumbs-o-down'"></h4> {{post.downvotes}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
