<div [@routerTransition]>
    <app-page-header [heading]="'User Profile and Analysis'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <hr>
    <div class="page-header">
        <h1>Profile</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let user of allUsers" class="card bg-lite text-dark mb-3">
                <div *ngIf="currentUser.user_name == user.user_name" class="card-header"> Hi {{ currentUser.user_name }} !!!
                    <button class="btn btn-success" (click)='onClickUser(currentUser.user_name)'> Visualize </button>
                </div>
                <div *ngIf="currentUser.user_name == user.user_name" class="card-body">
                    <h4 class="card-title"> Currently you are active</h4>
                    <p class="card-text"> First name  : {{ user.first_name }}</p>
                    <p class="card-text"> Last name : {{ user.last_name }} </p>
                    <p class="card-text"> Email :  {{ user.email }} </p>
                    <p class="card-text"> Login time : {{ user.logged_in_time | date: 'fullTime' }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header">Other Users</div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Logged In</th>
                        <th>Log in time</th>
                        <th>Actions </th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let user of allUsers">
                        <tr *ngIf="currentUser.user_name != user.user_name">
                            <td> {{ user.user_name }}</td>
                            <td> {{ user.first_name }}  </td>
                            <td> {{ user.last_name }}  </td>
                            <td> {{ user.email }} </td>
                            <td> {{ user.online }} </td>
                            <td> {{ user.logged_in_time | date: 'fullTime' }} </td>
                            <td>  <button class="btn btn-success" (click)='onClickUser(user.user_name)'> Visualize</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    {{emotionBarHeader}} Emotion Chart
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="emotionBarChartData" [labels]="emotionBarChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card mb-3">
                <div class="card-header">
                    {{eventBarHeader}} Event Chart
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="eventBarChartData" [labels]="eventBarChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12">
            <div class="card-header"> {{ targetBarHeader }} </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Target</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let each of currentTargetData">
                        <tr>
                            <td> {{ each.name }}</td>
                            <td> {{ each.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col col-sm-6">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--{{eventBarHeader}}-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<canvas baseChart [datasets]="eventBarChartData" [labels]="eventBarChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col col-sm-6">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--{{targetBarHeader}}-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<canvas baseChart [datasets]="targetBarChartData" [labels]="targetBarChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col col-sm-6">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--Doughnut Chart-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col col-sm-6">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--Radar Chart-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col col-sm-6">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--{{pieHeader}}-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col col-sm-6">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--Polar Area Chart-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col col-sm-6">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--Line Chart-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
