<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div *ngIf="isCreateNote" class="row">
        <div class="col-lg-6">
            <h4>Create a note</h4>
            <button class="btn btn-primary pull-right" (click)="get_create_note()"> Go Back </button>
            <hr>
            <button [className]="each.isSelected ? 'btn btn-success' : 'btn btn-default'"
                    (click)= "markTagSelected(each)" *ngFor="let each of this.selectedTags">{{each.name}} <span *ngIf="each.isSelected">x</span></button>
            <form>
                <div *ngIf="courses" class="form-group">
                    <label> Select Course </label>
                    <select class="form-control" #t (change)="get_sub_topic(t.value)">
                        <option *ngFor="let each of courses" [value]="each.code"> {{each.name}} </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Select SubTopic</label>
                    <select class="form-control" #t (change)="select_sub_topic(t.value)" >
                        <option *ngFor="let each of subTopics" [value]="each.name"> {{each.name}}</option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label> Title of the note </label>
                    <input type="text" class="form-control input-underline input-lg" [value] = "title"
                           placeholder="Enter title" (input)="updateTitle($event.target.value)"
                           id="title"
                    >
                </fieldset>
                <fieldset class="form-group">
                    <label>Content </label>
                    <textarea class="form-control input-underline input-lg"  rows="4"  [value] = "content"
                              placeholder="Your note description here" id= "content"
                              (input)="updateContent($event.target.value)"></textarea>
                </fieldset>
            </form>
            <button class="btn btn-primary pull-right" (click)="create_post()"> Create Note </button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr/>
    <button *ngIf="isNewNote == false" class="btn btn-primary pull-right" (click)="toggleAddNote()"> Add Sticky Note</button>
    <button *ngIf="isNewNote" class="btn btn-primary pull-right" (click)="createStickyNote()"> Create Note</button>
    <button *ngIf="isNewNote" class="btn btn-primary pull-right" (click)="toggleAddNote()"> Cancel</button>
    <hr/>
    <hr/>
    <textarea *ngIf="isNewNote" class="form-control input-underline input-lg"  rows="4"  [value] = "new_note"
              placeholder="Your new note here" id= "new_note"
              (input)="updateNewNote($event.target.value)"></textarea>
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <div *ngIf="isCreateNote == false" class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-tasks"></i> Notes
                    <button class="btn btn-primary pull-right" (click)="get_create_note()"> Create Note </button>
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
